@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather-Regular.woff2') format('woff2'),
        url('fonts/Merriweather-Regular.woff') format('woff'),
        url('fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather-Bold.woff2') format('woff2'),
        url('fonts/Merriweather-Bold.woff') format('woff'),
        url('fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather-Italic.woff2') format('woff2'),
        url('fonts/Merriweather-Italic.woff') format('woff'),
        url('fonts/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

:root {
	--bg-color: #FFFFFF;
	--font-color: #454545;
	--font-size: 1.4rem;
	--color-primary: #1799eb;
	/* https://github.com/system-fonts/modern-font-stacks */
	/*	--font-family-sans: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;*/
	/* --font-family-sans: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; */
	--font-family-sans: 'Merriweather';
}

/* All */
.main {
	width: 60%;
	margin-top: 2%;
	margin-bottom: 8%;
}
.main h1 {
	font-size: 3.0rem;
}
.main section {
	margin-left: 1rem;
	margin-right: 1rem;
}
#mainsep {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Bio */
#bio {
	margin-top: 1rem;
}
#bio a {
	text-decoration: underline;
}
#biocol {
	margin-right: 2rem;
}

/* Bio Portrait */
#mobileportrait{
	display:none;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}
.portrait {
	margin-top: 1em;
}
#portraitcol img {
	width: 15rem;
	margin-right: 1rem;
	border-radius: 5px;
}
#mobileportrait img {
	width: 35vw;
	height: 35vw;
	object-fit: cover;
	border-radius: 10px;
}

/* Bio hi */
.noselect {
	/* https://stackoverflow.com/a/4407335 */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                      supported by Chrome, Edge, Opera and Firefox */
}
#hicontainer h1 {
	margin-bottom: 0em;
}
#hand {
	display: inline-block;
	transform-origin: bottom right;
}
#hand:hover{
	animation: wave 0.40s 2;
	animation-timing-function: ease-in-out;
}

@keyframes wave {
	0% {
		rotate: 0deg;
		-webkit-transform: rotate(0deg);
	}

	50% {
		rotate: 10deg;
		-webkit-transform: rotate(5deg);
	}

	100% {
		rotate: 0deg;
		-webkit-transform: rotate(0deg);
	}
}

/* Nav bar */
#topsep {
	display: none;
	margin-top:1rem;
}
.nav a {
	color: #6F6F6F;
}

/* Paper */
#publications h3 {
	margin-bottom: 1rem;
}
.publications p {
	margin-bottom: 0;
}
.paper {
	margin-bottom: 1.5rem;
	margin-left: 0;
	margin-right: 0;
}
#publications_content {
	margin-left: 0rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

/* Paper thumbnail */
.paper_thumbnail {
	margin: 0;
}
.paper_thumbnail img {
	width: 95px;
	height: 95px;
	border-radius: 5px;
	object-fit: cover;
	border: 1px solid #9e9e9e;

	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
}

/* Projects */
#projects h3 {
	margin-bottom: 2rem;
}

/* News */
#news h3 {
	margin-bottom: 1rem;
}
#news p {
	margin-bottom: 0;
}

.date_item {
	padding-left: 3rem;
}

/* Other */
.other-body {
	margin-left: 0rem;
}

.other-body li {
  margin: 10px 0;
}

/* Contact */
.contact-body {
	margin-left: 2rem;
}

/* Mobile settings */
@media only screen and (max-width: 1000px) {
	/* All */
	.main {
		width: 90%;
		margin-top: 5%;
	}

	/* Bio */
	#portraitcol {
		margin-right: 1rem;
	}

	/* Paper */
	.paper_thumbnail img {
		height: 12vw;
		width: 12vw;
	}
}

@media only screen and (max-width: 600px) {
	/* Bio */
	#portraitcol {
		display: none;
	}
	#mobileportrait {
		display: block;
	}
	#biocol {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	/* Nav */
	#topsep {
		display: block;
	}
	.nav a {
		padding: 1rem 1.2rem;
	}

	/* Paper */
	.paper_thumbnail {
		display: none;
	}
	#publications_content {
		margin-left: 0;
		margin-right: 0;
	}

	/* Other */
	.other-body {
		margin-left: 0;
		margin-right: 0;
	}

	ul {
		padding-left: 1.5rem;
	}

	.other p {
		font-size: 1.35rem;
	}

	/* Contact */
	#contact {
		padding-bottom: 3rem;
	}

	.date_item {
		padding-left: 0;
	}

	.contact-body {
		margin-left: 0;
	}

	.contact-body p {
		font-size: 1.35rem;
	}
}