:root {
	--bg-color: #FFFFFF;
	--font-color: #454545;
	--font-size: 1.4rem;
	--color-primary: #46aae8;
	--font-family-sans: 'Merriweather', serif;
}

/* All */
.main {
	width: 60%;
	margin-top: 2%;
	margin-bottom: 8%;
}
.main h1 {
	font-size: 3.0rem;
}
.main section {
	margin-left: 1rem;
	margin-right: 1rem;
}
#mainsep {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

/* Bio */
#bio {
	margin-top: 1rem;
}
#bio a {
	text-decoration: underline;
}
#biocol {
	margin-right: 2rem;
}

/* Bio Portrait */
#mobileportrait{
	display:none;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}
.portrait {
	margin-top: 1em;
}
#portraitcol img {
	width: 15rem;
	margin-right: 1rem;
	border-radius: 5px;
}
#mobileportrait img {
	width: 30vw;
	height: 30vw;
	object-fit: cover;
	border-radius: 10px;
}

/* Bio hi */
.noselect {
	/* https://stackoverflow.com/a/4407335 */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                      supported by Chrome, Edge, Opera and Firefox */
}
#hicontainer h1 {
	margin-bottom: 0em;
}
#hand {
	display: inline-block;
	transform-origin: bottom right;
}
#hand:hover{
	animation: wave 0.40s 2;
	animation-timing-function: ease-in-out;
}

@keyframes wave {
	0% {
		rotate: 0deg;
		-webkit-transform: rotate(0deg);
	}

	50% {
		rotate: 10deg;
		-webkit-transform: rotate(5deg);
	}

	100% {
		rotate: 0deg;
		-webkit-transform: rotate(0deg);
	}
}

/* Nav bar */
#topsep {
	display: none;
}
.nav a {
	color: #6F6F6F;
}

/* Paper */
#publications h3 {
	margin-bottom: 2rem;
}
#publications p {
	margin-bottom: 0;
}
.paper {
	margin-bottom: 1.5rem;
	margin-left: 0;
	margin-right: 0;
}
#publications_content {
	margin-left: 0rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

/* Paper thumbnail */
.paper_thumbnail {
	margin: 0;
}
.paper_thumbnail img {
	width: 95px;
	height: 95px;
	border-radius: 5px;
	object-fit: cover;
	border: 1px solid #9e9e9e;

	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
}

/* Mobile settings */
@media only screen and (max-width: 1000px) {
	/* All */
	.main {
		width: 90%;
		margin-top: 5%;
	}

	/* Bio */
	#portraitcol {
		margin-right: 1rem;
	}

	/* Paper */
	.paper_thumbnail img {
		height: 12vw;
		width: 12vw;
	}
}

@media only screen and (max-width: 600px) {
	/* Bio */
	#portraitcol {
		display: none;
	}
	#mobileportrait {
		display: block;
	}

	/* Nav */
	#topsep {
		display: block;
	}

	/* Paper */
	.paper_thumbnail {
		display: none;
	}
	#publications_content {
		margin-left: 0;
		margin-right: 0;
	}

	/* Contact */
	#contact {
		padding-bottom: 3rem;
	}
}